.header-jumbo {
  background-color: #46505a;
  height: 50em;
}

.subpage-header-jumbo {
  background-color: #46505a;
  height: 6em;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #c7c7c7;
}

.searchbar {
  background-color: #46505a;
  border: none;
  font-size: 18px;
}

.searchicon {
  font-size: 20px;
  color: white;
  margin-left: 5em;
}

.logo-img {
  height: 3em;
  width: 3em;
}

.white-text {
  color: white;
}

.carousel-thing {
  margin-top: 10em;
}

.jumbo-carousel {
  height: 20em;
  width: 70%;
  background-color: white;
  text-align: center;
}

body {
  background-color: #e4e9ed;
}

.features {
  text-align: center;
  background-color: white;
  margin: 1em;
  padding: 2em;
  border-radius: 5px;
}

.footer-jumbo {
  background-color: #46505a;
  padding: 2em;
  text-align: center;
}

.blog {
  text-align: center;
  background-color: #99a0a1;
  margin: 1em;
  padding: 2em;
  border-radius: 5px;
}

#contact-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.contactform {
  background-color: white;
  z-index: 3;
  margin: 5em auto;
  padding: 3em;
  border-radius: 5px;
}

#signup-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.signupform {
  background-color: white;
  z-index: 3;
  margin: 5em auto;
  padding: 3em;
  border-radius: 5px;
}
