.header-jumbo {
  background-color: #46505a;
  height: 50em;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #c7c7c7;
}

.searchbar {
  background-color: #46505a;
  border: none;
  font-size: 18px;
}

.searchicon {
  font-size: 20px;
  color: white;
  margin-left: 5em;
}

.logo-img {
  height: 3em;
  width: 3em;
}

.white-text {
  color: white;
}

.carousel-thing {
  margin-top: 10em;
}

.jumbo-carousel {
  height: 20em;
  width: 70%;
  background-color: white;
}

body {
  background-color: #e4e9ed;
}
